{{ template "header.html" . }}

<h1>Editing {{.ProjectName}}</h1>
<br>
<form action="/saveproject/{{.ProjectId}}" align="center" method="POST">
    Project Name : *  <input type="text" name="project_name" value="{{printf "%s" .ProjectName}}"><br>
    Version : *       <input type="text" name="project_version" value="{{printf "%s" .Version}}"><br>
    Recommendation Points : *       <input type="text" name="Recommendation_points" value="{{printf "%d" .RecommendationPoints}}"><br>
    Youtube URL : *   <input type="text" name="youtube_url" value="{{printf "%s" .VideoId}}"><br>
    Slide Share URL : <input type="text" name="slideshare_url" value="{{printf "%s" .SlideId}}"><br>
    Github URL :      <input type="text" name="github_url" value="{{printf "%s" .GitId}}"><br>
    Referrence URL :  <input type="text" name="ref_url" value="{{printf "%s" .RefURL}}"><br>
    Download URL : *  <input type="text" name="download_url" value="{{printf "%s" .DownloadURL}}"><br>
    <input type="submit" value="Save">
</form><br><br><br>

{{ template "footer.html" . }}
